@page "/"

<h1>排班表</h1>

<BFUDropdown ItemsSource="classrooms" Placeholder="请选择一间实验室" OnChange="Classroom_Changed" Style="width: 200px" Label="实验室" />

<p>暂未实现</p>

@code {
    private readonly List<BFUDropdownOption> classrooms =
        Enum.GetValues<Room>().Select(i => new BFUDropdownOption
        {
            Text = Enum.GetName<Room>(i)!,
            Key = i.ToString()
        }).ToList();

    private Task Classroom_Changed(BFUDropdownChangeArgs args)
    {
        var room = Enum.Parse<Room>(args.Option.Key);

        return Task.CompletedTask;
    }
}