@using BlazorRouter

<h1>排班表</h1>

<PrimaryButton Text="签到" @ref="calloutTarget" OnClick="CalloutHidden_Click"></PrimaryButton>

@if (!calloutHidden)
{
    <Callout FabricComponentTarget="calloutTarget">
        <div style="max-width: 300px; padding: 20px;">
            <Checkin WorkPlanId="1" />
        </div>
    </Callout>
}

@code {
    FluentUIComponentBase? calloutTarget;
    bool calloutHidden;

    private void CalloutHidden_Click(MouseEventArgs args) => calloutHidden = !calloutHidden;
}