@inherits LayoutComponentBase

@if (DeviceProvider.IsMobile)
{
    <Panel IsOpen="isPanelOpened" IsLightDismiss="true" OnDismiss="() => isPanelOpened = false">
        <Stack>
            <StackItem Align="Alignment.Center">
                <Text Variant="TextType.XLarge">实验室助理中心</Text>
            </StackItem>
            <StackItem>
                <NavMenu />
            </StackItem>
        </Stack>
    </Panel>
    <div style="position: absolute; right: 0; top: 0; padding: 20px">
        <ActionButton IconName="NumberedListText" OnClick="NavMenu_Clicked">菜单</ActionButton>
    </div>
    <div style="padding: 0 20px">
        <RoutedContent />
    </div>
}
else
{
    <Stack Horizontal="true">
        <StackItem VerticalFill="true" Style="min-width: 250px">
            <Stack>
                <StackItem Align="Alignment.Center">
                    <Text Variant="TextType.XLarge">实验室助理中心</Text>
                </StackItem>
                <StackItem>
                    <NavMenu />
                </StackItem>
            </Stack>
        </StackItem>
        <StackItem VerticalFill="true" Tokens="desktopTokens">
            <RoutedContent />
        </StackItem>
    </Stack>
}

@code {
    [Inject] private IDeviceProvider DeviceProvider { get; set; } = default!;

    private bool isPanelOpened;

    private readonly StackItemTokens desktopTokens = new StackItemTokens
    {
        Padding = new CssValue("0 0 0 20px")
    };

    private void NavMenu_Clicked(MouseEventArgs args)
    {
        isPanelOpened = !isPanelOpened;
    }

    protected override async Task OnInitializedAsync()
    {
        await DeviceProvider.InitAysnc();
        DeviceProvider.PropertyChanged += (sender, args) =>
        {
            if (args.PropertyName == nameof(DeviceProvider.IsDesktop))
            {
                StateHasChanged();
            }
        };
        
        await base.OnInitializedAsync();
    }
}
